/*fonts*/
@font-face{
    font-family: "Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face{
    font-family: "Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face{
    font-family: "Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face{
    font-family: "Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face{
    font-family: "Raleway-ExtraBold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face{
    font-family: "Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}
/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    -webkit-font-smoothing:antialiased;
    /* height: 4000px; */
    font-family: "Raleway-regular";
}
/*colors*/
:root{
    --primary:#EEBF00;
    --secondary:#232838;   
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}
.container{
    width: 100%;
    padding:0 15px;
    margin:0 auto;
}
@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width:768px){
    .container{
        max-width:720px;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1152px;
    }
}
header.topbar{
background-color: var(--secondary);
color: var(--pure);
font-family: "Raleway-semibold";
padding: 0.75rem 0;
}
header.topbar .icons a{
    margin: 0.6rem;
}
header.topbar .auth .divider{
    padding: 0 1rem;
}
header.topbar .auth>div a{
    color: var(--pure);
    text-decoration: none;
}
header.topbar .auth>div img{
    margin-right: 0.35rem;
}
.flex{
    display:flex;
}
.justify-btw{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
nav .top{
    padding: 1.5rem 0;
}
nav .top .contact h5, nav .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}
nav .top .contact h6, nav .top .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}
nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}
.justify-center{
justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family:"Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition:all .3s ease
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background-color: var(--primary);
    color: var(--pure);
}
.magic-shadow{
    position: relative;
    background-color: var(--heaven);
}
.magic-shadow::after{
    content:'';
    display: block;
    width: 100%;
    height: 68px;
    background-image:url(../icons/shadow.svg);
    background-repeat:no-repeat;
    background-position: center;
    position: absolute;
    bottom: -22px;
    z-index: -1;
}
.magic-shadow-small{
    position: relative;
    background-color: var(--heaven);
}
.magic-shadow-small::after{
    content:'';
    display: block;
    width: 100%;
    height: 69px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat:no-repeat;
    background-position: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
header.hero{
    height: 550px;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 0% 0%;
}
header.hero .container{
    position: relative;
}
header.hero .welcome span{
    font-family: "Raleway-bold";
    margin-right: 0.5rem;
}
header.hero .welcome{
    margin-bottom: 0.50rem;
}
header.hero h1{
    font-family:"Raleway-ExtraBold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color: var(--primary);
}
header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height:1.5;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
background: var(--secondary);
color: var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
color: var(--secondary);
border: 1px solid var(--secondary);
}
header.hero button:first-child{
    margin-right: 0.50rem;
}
header.hero .hero-image{
    position: absolute;
    top: -40px;
    right:40px;
}
section{
    padding: 4rem 0;
}
section.top-products{
    background: var(--light);
}
.section-heading{
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading:after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
section.top-products .food-slider .food-card{
    background:var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
}
section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom:1rem;
    margin-left: 20px;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-family:"Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
.text-center{
    text-align: center;
}
section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card .stars{
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--secondary);
    background:var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
.food-slider .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
section.top-products .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin:0 -27px
}
.top-products .slider-btn{
width:30px;
height: 30px;
border: none;
cursor: pointer;
border-radius: 4px;
background: var(--primary);
outline: none;
}
.top-products .slider{
    position: relative;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;

}
.next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
section.about-meal img{
    width: 85%;
}
.flex-1{
    flex: 1;
}
section.about-meal h2{
    font-family:"Raleway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3;
}
section.about-meal p{
    margin-bottom: 4rem;
    line-height: 1.7;
}
section.our-services{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.our-services .service-card{
    background: var(--heaven);
    text-align-last: center;
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    border-radius: 4px;
    margin-right:2rem ;
}
section.our-services .card-wrapper{
    margin-right: -2rem;
    margin-top: 8rem;
}
section.our-services .service-card .icon{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
}
section.our-services .service-card h2{
    font-family:"Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
   line-height: 1.6;
    margin-bottom: 1rem;
}
.text-primary{
    color: var(--primary);
}
.text-pure{
    color: var(--pure);
}
section.big-deal{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
        ), url(../images/food-table.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.big-deal .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
}
section.big-deal .timer div{
margin-right: 2rem;
background: var(--primary);
width: 150px;
height: 150px;
border-radius: 4px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section.big-deal .timer div span:first-child{
font-family:"Raleway-semibold" ;
font-size: 2.5rem;
color: var(--heaven);
margin-bottom: 0.05rem;
}
section.big-deal .timer div span:last-child{
    font-family:"Raleway-medium";
    color: var(--heaven);
}
section.latest-news{
    background:var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .article-wrapper{
    display: flex;
    margin-right: -2rem;
}
.latest-news .article-wrapper .card{
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
}
.latest-news .article-wrapper .card img{
    width: 100%;
}
.latest-news .article-wrapper .card .card-content{
    padding:2rem;
}
.latest-news .article-wrapper .card .card-content .post-meta{
    margin-bottom:1rem ;
}
.latest-news .article-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}
.latest-news .article-wrapper .card .card-content h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content p{
  line-height:1.6;
    margin-bottom: 1rem;
}
.latest-news .btn-wrapper{
    margin-top: 2rem;
}
section.subscribe{
    background: var(--primary);
}
section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe .container div:first-child{
    flex: 1;
}
section.subscribe .container div:last-child{
    flex: 1;
}
section.subscribe h1{
    font-family:"Raleway-bold" ;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p{
    font-family:"Raleway-medium" ;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
section.subscribe .input-wrapper{
    background: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
}
section.subscribe .input-wrapper input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}
section.subscribe .input-wrapper input:focus{
    outline: none;
}
section.subscribe .input-wrapper button{
    padding: 0.8rem 2rem;
    border: none;
    background: var(--primary);
    color: var(--pure);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    outline: none;
}
section.subscribe .input-wrapper button:hover{
    background: var(--secondary);

}
section.contact-us{
    padding-top: 0;
    padding-bottom: 0;

}
section.contact-us .contact-wrapper{
    padding: 4rem 0;
    flex: 1;
}
section.contact-us .map{
    flex: 1;
    filter: grayscale(100%);
}
section.contact-us .contact-info{
    display: flex;
    justify-content: center;

}
section.contact-us .contact-info > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section.contact-us .contact-info > div > div img{
   margin-right: 1rem; 
}
section.contact-us .contact-info > div > div > div{
    display: flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div span:first-child{
    font-family: "Raleway-bold";
    margin-bottom: 0.25rem;
}
footer{
    background:var(--footer);
    padding: 4rem 0;
}
footer .container{
    display: flex;
    color: var(--pure);
}
footer .box{
    flex: 1;
    margin-right: 2rem;
    text-align:center;
}
footer .insta img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
footer .insta .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .insta .post-wrapper > div{
    width: calc(1/3*100% - (1-1/3)*10px);
    margin-bottom: 10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color: var(--pure);
   text-decoration: none;
   transition: all .3s ease;
}
footer .box ul li a:hover{
    color: var(--primary);
}
footer .box h3{
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
footer .box:nth-child(3) > div{
    display: flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align:center;
}
footer .box:nth-child(3) > div img{
    margin-right: 1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}
footer.copyright{
    padding: 1rem 0;
    color: var(--pure);
    text-align:center;
    background: var(--secondary);
    font-size: 0.75rem;
}
footer.copyright a{
    color: var(--primary);
    text-decoration: none;
}






